.wrapper {
  padding: 20px 50px;
}

.ant-layout-sider-zero-width-trigger {
  top: 0;
}

h1 {
  font-size: 30px;
}

.reset-width {
  width: 100%;
}

.documentForm {
  max-width: 500px;
  margin: 50px auto 30px;
}
